.pagination {
    margin: 15px auto;
    outline: none;
    list-style-type:none;
    display: flex;
  }
  .pagination > .active > a{
    background-color: #346cce ;
    border-color: #346cce ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #346cce ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #346cce ;
    border-color: #346cce;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #346cce
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }


.title {
    text-align: center;
    font-size: 32px;
}
.hotelList {
    margin: 36px;
}
.title {
    text-align: center;
    font-size: 32px;
    }
    .hotelList {
    margin: 36px;
    }
    .modalTitle {
    margin: 16px 0;
    }
    .textField {
    display: block;
    box-sizing: border-box;
    width: 100%;
padding: 0.375rem 0.75rem;
font-size: 16px;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
margin: 16px 0;
resize: none;
}

html, body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2em;
}

#pagenumbers {
  list-style: none;
  display: flex;
}

#pagenumbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}



