<html lang="en" xmlns:th="http://thymeleaf.org">

<head>


<meta charset="UTF-8">
<title> View Hotel </title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>

<body>
    <div class="card m-5 p-3">
<nav th:replace="fragments/fragment :: navbar('View Hotel')"></nav>

    <section>
        <h2>Informasi Hotel</h2>
        <h5 th:text=" 'Id Hotel: '+ ${hotel.id}"></h5>
        <h5 th:text=" 'Nama Hotel: '+ ${hotel.namaHotel}"></h5>
        <h5 th:text=" 'Alamat Hotel: '+ ${hotel.alamat}"></h5>
        <h5 th:text=" 'Nomor Telepon: '+ ${hotel.nomorTelepon}"></h5>
    </section>
    <br>
    <section>
        <h5>Daftar Kamar:</h5>
        <div th:if="${hasKamar}">
            <form th:action="@{/kamar/delete}" th:object="${hotel}" method="POST">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>No Kamar</th>
                            <th>Tipe Kamar</th>
                            <th>Kapasitas Kamar</th>
                            <th>Aksi</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="kamar, iterationStatus: ${listKamar}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${kamar.noKamar}"></td>
                            <td th:text="${kamar.namaKamar}"></td>
                            <td>
                                <div th:if="${kamar.tipe == 0}">Deluxe</div>
                                <div th:if="${kamar.tipe == 1}">Executive</div>
                                <div th:if="${kamar.tipe == 2}">PresidentSuite</div>
                            </td>
                            <td th:text="${kamar.kapasitasKamar}"></td>
                            <td><a th:href="@{/kamar/change/}+${kamar.noKamar}">Change Data Kamar</a></td>
                            <td>
                                <input type="checkbox" th:field="*{listKamar}" th:value="${kamar.noKamar}"/>
                                <label th:for="${#ids.prev('listKamar')}">Hapus</label>
                            </td>
                            <!-- <td><a th:href="@{/kamar/delete/}+${kamar.noKamar}">Change Data Kamar</a></td> -->
                        </tr>
                    </tbody>        
                </table>
                <button type="submit" class="btn  btn-danger">Hapus yang dipilih</button>
            </form>
        </div>
        <td><a class="btn btn-primary" th:href="@{/kamar/addmultiple/}+${hotel.id}">Add Kamar</a></td>

        
    </section>

</div>
</body>

</html>